@page "/subjects"



<div class="mt-5 text-center">
    <h1>Subjects</h1>

    <div class="d-flex justify-content-end"><MudButton StartIcon="@Icons.Material.Filled.Add" Href="/add-subject" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary">Add subject</MudButton></div>

    <SubjectList />
</div>

