@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmation";
}
<style>
    .container {
        margin-top:6rem;
    }
    .icon {
        width:20rem;
    }
</style>

<div class="mt-5 container">
    <div class="container py-5">
        <div class="card shadow mx-auto" style="max-width: 500px;">
            <div class="card-body text-center">
                @if (Model.IsSuccess)
                {
                    <i class="fa-regular fa-square-check text-success fa-5x"></i>
                }
                else
                {

                    <i class="fa-solid fa-xmark text-danger fa-5x"></i>

                }
                <h2 class="card-title">Email confirmation</h2>
                @if (Model.IsSuccess)
                {



                    <p class="text-center">Your email has been confirmed. <a href="/Identity/Account/Login" class="alert-link">Login</a> using your email to access your account.</p>

                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Oops! It seems there was an issue confirming your email. Please try again later.
                    </div>
                }
               
            </div>
        </div>
    </div>
  

</div>
