@page
@model ForgotPasswordModel

<style>
    .container {
        margin-top:6rem;
    }
</style>

<section class="mt-5 container">
    <h1>Forgot your password?</h1>
    <div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <p>Enter your email, and we'll send you a link to reset your password.</p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <input asp-for="Input.Email" placeholder="Email" class="form-control" autocomplete="username" aria-required="true" />

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="btn btn-dark">Reset password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
   
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
