@page
@model RegisterConfirmationModel



<div class="container py-5">
    <div class="card shadow mx-auto" style="max-width: 500px;">
        <div class="card-body text-center">
            <i class="fas fa-envelope-open-text fa-5x text-primary mb-4"></i>
            <h2 class="card-title">Confirm your email</h2>
            <p class="card-text">An email has been sent to your email address.</p>
            <p class="card-text">Please check your inbox and follow the instructions to confirm your email.</p>
            <a href="/" class="btn btn-primary">Go to Home Page</a>
        </div>
    </div>
</div>

