@page
@model RegisterConfirmationModel

<style>
    .container {
        margin-top:6rem;
    }
</style>

<div class="vh-100 m-auto container">
   <div class="">
        <h2 class="confirmation-title">Confirm your email</h2>
        <p class="confirmation-message">An email has been sent to your email address.</p>
        <p class="confirmation-message">Please check your inbox and follow the instructions to confirm your email.</p>
   </div>
</div>