@page "/"

<PageTitle>Home</PageTitle>
@inject NavigationManager NavigationManager


<div class="container text-center py-5">
    <h1 class="display-4">Welcome to Clarity Crate</h1>
    <p class="lead">Master science concepts with ease and clarity</p>
  
</div>

